temptest.VC.VC.opendb
temptest.VC.db
x64
.vs
Debug
ipch/
*.exe
*.user
*.dll
Thumbs.db
tstimgs/
data/cctxt/Thumbs.db
/vcontrol/vcontrol.VC.VC.opendb
/vcontrol/vcontrol.VC.db
packages/
vcontrol.VC.VC.opendb
vcontrol.VC.db
ccInfo/bin
ccInfo/obj
ccUi/bin
ccUi/obj
vcAppUi/bin
vcAppUi/obj
vcConsole/bin
vcConsole/obj
vcontrol/bin
vcontrol/obj
vcontrolTests/bin
vcontrolTests/obj